.projects {
    .container-div {
        margin: 0 15rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        min-height: calc(100vh - 10rem);
        margin: 1.5rem;
        gap: 15rem;
        padding-top: 16rem;

        .project-cards {
            border: 1px solid gray;
            border-radius: 2rem;
            padding: 2rem 3rem;
            text-align: center;

            img {
                width: 28rem;
                height: 28rem;
                border-radius: 3rem;
                filter: drop-shadow(2px 4px 6px black);
                margin-bottom: 1rem;
            }

            .project-title {
                font-size: 2rem;
                font-weight: 700;
            }

            .link-section {
                display: flex;
                justify-content: center;
                gap: 1rem;

                .btn {
                    width: 11rem;
                    border-radius: 2.5rem;
                    font-size: 1.5rem;
                    padding: 1rem 0.5rem;
                    text-align: center;
                    font-weight: 600;

                    .link {
                        text-decoration: none;
                    }
                }
            }
        }
    }

    /* Responsive adjustments for tablet mode */
    @media (max-width: 992px) {
        .container-div {
            margin: 0 5rem;
            gap: 5rem;
            padding-top: 8rem;

            .project-cards {
                padding: 2.5rem 3.5rem;

                img {
                    width: 30rem;
                    height: 30rem;
                }

                .project-title {
                    font-size: 2.5rem;
                }

                .link-section {
                    .btn {
                        width: 12rem;
                        font-size: 1.8rem;
                        padding: 1.2rem 0.6rem;
                    }
                }
            }
        }
    }

    /* Responsive adjustments for mobile mode */
    @media (max-width: 576px) {
        .container-div {
            margin: 0 2rem;
            gap: 2rem;
            padding-top: 4rem;

            .project-cards {
                padding: 3rem 4rem;

                img {
                    width: 35rem;
                    height: 35rem;
                }

                .project-title {
                    font-size: 3rem;
                }

                .link-section {
                    .btn {
                        width: 15rem;
                        font-size: 2rem;
                        padding: 1.5rem 0.75rem;
                    }
                }
            }
        }
    }
}