.projects {
    .container-div {
        margin: 0 15rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        min-height: calc(100vh - 10rem);
        gap: 7rem;
        padding-top: 16rem;
        padding-bottom: 5rem;
        margin: 1.5rem 23rem;

        .project-cards {
            border: 1px solid var(--border);
            border-radius: 2rem;
            padding: 2rem 3rem;
            text-align: center;
            background-color: var(--background);
            box-shadow: 1px 1px 10px 1px var(--border);

            img {
                width: 28rem;
                height: 28rem;
                border-radius: 3rem;
                filter: drop-shadow(2px 2px 4px var(--border));
                margin-bottom: 1rem;

                &:hover {
                    transition: transform 0.4s ease-in-out;
                    transform: scale(1.05);
                }
            }

            .project-title {
                font-size: 2rem;
                font-weight: 700;
                color: var(--text);
            }

            .link-section {
                display: flex;
                justify-content: center;
                gap: 1rem;

                .btn {
                    width: 11rem;
                    border-radius: 2.5rem;
                    font-size: 1.5rem;
                    padding: 1rem 0.5rem;
                    text-align: center;
                    font-weight: 600;
                    background-color: var(--background);
                    color: var(--background);

                    &:hover {
                        background-color: var(--link-hover);
                        color: var(--background);

                        .link {
                            color: var(--background);
                        }
                    }

                    .link {
                        cursor: pointer;
                        text-decoration: none;
                        font-size: 1.5rem;
                        color: var(--link);

                        &:hover {
                            color: var(--background);
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 992px) {
        .container-div {
            margin: 0 2rem;
            gap: 10rem;
            padding-top: 10rem;

            .project-cards {
                padding: 3rem 6rem;

                img {
                    width: 70vw;
                    height: 40vh;
                }

                .project-title {
                    font-size: 8rem;
                    margin: 3rem;
                }

                .link-section {
                    .btn {
                        width: 30rem;
                        font-size: 2rem;
                        padding: 1.5rem 0.75rem;
                        border-radius: 5rem;

                        .link {
                            font-size: 4rem;
                            color: var(--link);

                            &:hover {
                                color: var(--background);
                            }
                        }
                    }
                }
            }
        }
    }
}