@use '../../styles/colors' as colors;
@use '../../styles/mixins' as mixins;
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

.about {
    .container-div {
        margin: 0 15rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        min-height: calc(100vh - 3rem);
        margin: 1.5rem;

        .inner-section {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 22.3rem;

            .left-section {
                display: flex;
                justify-content: center;
                margin-right: 4rem;

                img {
                    width: 36rem;
                    height: 35rem;
                    border-radius: 3rem;
                    filter: drop-shadow(2px 4px 6px var(--border));

                    &:hover {
                        @include mixins.img-scale(1.04);
                    }
                }
            }

            .right-section {
                max-width: 65%;

                .about-cards {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    margin-bottom: 2rem;

                    .experience,
                    .education {
                        width: 48%;
                        border: 1px solid var(--border);
                        border-radius: 2rem;
                        padding: 6.5rem 5rem;
                        text-align: center;
                        box-shadow: 1px 1px 10px 1px var(--border);

                        svg {
                            font-size: 3rem;
                            color: var(--link);
                        }

                        .cards-text {
                            display: block;
                            padding: 0 1rem;
                            font-size: 1.8rem;
                            color: var(--text);

                            &:nth-of-type(2) {
                                font-weight: 600;
                                font-size: 3rem;
                            }
                        }
                    }
                }

                .about-text {
                    font-size: 1.8rem;
                    text-align: justify;
                    color: var(--text);
                }
            }
        }
    }

    @media (max-width: 1410px) {
        .container-div {
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin: 1.5rem;

            .inner-section {
                flex-direction: column;
                margin: 0;
                justify-content: space-between;

                .left-section {
                    margin-bottom: 5rem;

                    img {
                        width: 23rem;
                        height: 25rem;
                    }
                }

                .right-section {
                    max-width: 70%;
                    margin-top: 2rem;

                    .about-cards {
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;

                        .experience,
                        .education {
                            width: 48%;
                            margin-bottom: 1rem;
                        }
                    }

                    .about-text {
                        font-size: 1.7rem;
                    }
                }
            }
        }
    }

    @media (max-width: 768px) {
        .container-div {
            margin: 1rem;

            .inner-section {
                .left-section {
                    img {
                        width: 40rem;
                        height: 42rem;
                    }
                }

                .right-section {
                    max-width: 80%;
                    margin-top: 3rem;

                    .about-cards {

                        .experience,
                        .education {
                            width: 48%;
                            padding: 1rem 2rem;

                            svg {
                                font-size: 6rem;
                                color: var(--link);
                            }

                            .cards-text {
                                display: block;
                                padding: 0 1rem;
                                font-size: 2.8rem;
                                color: var(--text);

                                &:nth-of-type(2) {
                                    font-weight: 600;
                                    font-size: 5.2rem;
                                }
                            }
                        }
                    }

                    .about-text {
                        font-size: 4.2rem;
                        color: var(--text);
                    }
                }
            }
        }
    }

    @media (max-width: 576px) {
        .container-div {
            margin: 1rem;

            .inner-section {
                .left-section {
                    img {
                        width: 80rem;
                        height: 82rem;
                    }
                }

                .right-section {
                    max-width: 80%;
                    margin-top: 3rem;

                    .about-cards {

                        .experience,
                        .education {
                            width: 48%;
                            padding: 1rem 2rem;

                            svg {
                                font-size: 6rem;
                                color: var(--link);
                            }

                            .cards-text {
                                display: block;
                                padding: 0 1rem;
                                font-size: 2.8rem;
                                color: var(--text);

                                &:nth-of-type(2) {
                                    font-weight: 600;
                                    font-size: 5.2rem;
                                }
                            }
                        }
                    }

                    .about-text {
                        font-size: 4.2rem;
                        color: var(--text);
                    }
                }
            }
        }
    }

    @media (max-width: 317px) {
        .about-cards {
            flex-direction: column !important;
            gap: 2rem;

            .experience,
            .education {
                width: 100% !important;
            }
        }
    }
}