@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

.home {

    .container-div {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        min-height: calc(100vh - 4rem);
        margin: 1.5rem;

        .left-section {
            max-width: 38%;
            transform: scale(1.4);
            animation: zoomInOut 2s forwards;
            animation-delay: 6s;

            .title1,
            .title2,
            .title3,
            .dwnld-cv-btn,
            .contact-btn {
                display: block;
                transform: translateX(-500%);
                animation: moveTitleRight 1s forwards;
                /* Ensuring initial state is off-screen */
            }

            .title1 {
                font-size: 5rem;
                font-family: "Roboto Condensed", sans-serif;
                font-weight: 300;
                margin: 0;
                animation-delay: 1s;
            }

            .title2 {
                font-size: 7rem;
                font-family: "Oswald", sans-serif;
                font-weight: 700;
                margin: 0;
                animation-delay: 2s;
            }

            .title3 {
                font-size: 2.5rem;
                animation-delay: 3s;
            }

            .dwnld-cv-btn,
            .contact-btn {
                border-radius: 3rem;
                font-size: 2rem;
                padding: 1rem 1.5rem;
                margin: 2rem 0;
                margin-right: 2rem;
                display: inline-block;
                animation-delay: 4s;
            }

            .contact-btn {
                animation-delay: 5s;
            }
        }

        .right-section {
            margin-left: 10rem;
            display: flex;
            justify-content: center;
            transform: scale(1.5);
            animation: zoomInOut 2s forwards;
            animation-delay: 6s;

            img {
                width: 33rem;
                height: 35rem;
                border-radius: 50%;
                filter: drop-shadow(2px 4px 6px black);
                transition: transform 0.3s ease, filter 0.3s ease;
                animation: moveImageLeft 1s forwards;

                &:hover {
                    transform: scale(1.1);
                }
            }

            @keyframes zoomInOut {
                from {
                    transform: scale(1.1);
                }

                to {
                    transform: scale(1);
                }
            }

            @keyframes moveTitleRight {
                from {
                    transform: translateX(-100%);
                }

                to {
                    transform: translateX(0);
                }
            }

            @keyframes moveImageLeft {
                from {
                    transform: translateX(100%);
                }

                to {
                    transform: translateX(0);
                }
            }
        }
    }
}