@import "https://unpkg.com/open-props/easings.min.css";

.navbar {
    position: fixed;
    top: -7px;
    z-index: 1000;
    width: 100%;
    box-shadow: 0 3px 10px -8px var(--border);

    nav {
        display: flex;
        width: 100vw;
        justify-content: center;
        background-color: var(--background);
        padding: 2rem;

        ul {
            list-style: none;
            display: flex;
            gap: 4rem;
            padding: 0;
            margin: 0;
            justify-content: center;

            li {
                margin: 0;
                color: var(--text);

                a {
                    text-decoration: none;
                    color: var(--link);
                    border-radius: 0.5rem;
                    font-size: 2.5rem;
                    position: relative;

                    &.active {
                        font-weight: bold;
                        border-bottom: 2px solid var(--link);
                    }

                    &:hover {
                        color: var(--link-hover);
                    }
                }
            }
        }

        .toggle-dark-mode {
            position: absolute;
            right: 0;
            font-size: 1.5rem;
            padding: 0.5rem 1rem;
            border: none;
            border-radius: 0.5rem;
            background-color: var(--link);
            color: var(--background);
            cursor: pointer;
            margin-top: 5px;
            margin-right: 15px;

            &:hover {
                background-color: var(--link-hover);
                color: var(--text);
            }
        }

        .checkbox-container {
            position: absolute;
            right: 0;
            font-size: 1.5rem;
            padding: 0.5rem 1rem;
            cursor: pointer;

            .checkbox {
                opacity: 0;
                position: absolute;
            }

            .checkbox-label {
                background-color: #111;
                width: 6.5rem;
                height: 3.3rem;
                border-radius: 50px;
                position: relative;
                padding: 5px;
                cursor: pointer;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .fa-moon {
                font-size: 2rem;
                color: #f9f9f9;
                cursor: pointer;
            }

            .fa-sun {
                font-size: 2rem;
                color: #f39c12;
                cursor: pointer;
            }

            .checkbox-label .ball {
                background-color: #fff;
                width: 2.7rem;
                height: 2.7rem;
                position: absolute;
                left: 0.3rem;
                top: 0.3rem;
                border-radius: 50%;
                transition: transform 0.2s linear;
                cursor: pointer;
            }

            .checkbox:checked+.checkbox-label .ball {
                transform: translateX(3rem);
            }
        }
    }
}