@use '../../styles/mixins' as mixins;

.footer {
    background-color: var(--background);
    color: var(--text);
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 30px 30px 50px 0px var(--border);

    a {
        color: var(--link);
        text-decoration: none;
        display: flex;
        align-items: center;
        margin: 0 1rem;

        &:hover {
            color: var(--link-hover);
            @include mixins.img-scale(1.2);
        }
    }

    .container-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: calc(2vh);
        margin: 1.5rem;

        .footer-links {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 1rem;

            .footer-icon {
                margin-right: 0.5rem;
                font-size: 3rem;
                cursor: pointer;
                color: var(--link);

                &:hover {
                    color: var(--link-hover);
                }
            }
        }

        .footer-text {
            .copyright {
                font-size: 1.5rem;
                color: var(--text);
            }
        }
    }

    @media (max-width: 992px) {
        .footer-links {
            gap: 3rem;

            .footer-icon {
                font-size: 6rem !important;
            }
        }

        .footer-text {
            .copyright {
                font-size: 4rem !important;
            }
        }
    }
}