/* :root {
    --light-background: #ffffff;
    --light-text: #333333;
    --light-link: #000000;
    --light-link-hover: #dddddd;
    --light-border: #a4a3a3;

    --dark-background: #333333;
    --dark-text: #ffffff;
    --dark-link: #ffffff;
    --dark-link-hover: #aaaaaa;
    --dark-border: #444444;
} */

:root {
    --background: #f9f9f9;
    --text: #2d2d2d;
    --link: #0077cc;
    --link-hover: #005fa3;
    --border: #2c2c2c;
}

body.dark-mode {
    --background: #222222;
    --text: #eaeaea;
    --link: #4ea1d3;
    --link-hover: #3a8bb5;
    --border: #f9f9f9;
    /* Fixed border color */
}

body {
    background-color: var(--background);
    color: var(--text);
}

body.dark-mode {
    background-color: var(--background);
    color: var(--text);
}

.cursor {
    width: 20px;
    /* Match this size with JS logic */
    height: 20px;
    background-color: black;
    border-radius: 50%;
    position: fixed;
    /* Use 'fixed' instead of 'absolute' */
    pointer-events: none;
    will-change: transform;
    z-index: 10000;
    opacity: 1;
    /* transition: transform 0.15s ease, background-color 0.3s ease, opacity 0.3s ease; */
}

/* Hover effect on elements */
img:hover~.cursor,
button:hover~.cursor,
a:hover~.cursor,
span:hover~.cursor {
    background-color: white;
}

/* Remove default cursor */
body,
* {
    cursor: none;
}

@media (max-width: 1410px) {
    .cursor {
        display: none;
    }

    body,
    * {
        cursor: auto;
    }

    /* Hover effect on elements */
    img:hover~.cursor,
    button:hover~.cursor,
    a:hover~.cursor,
    span:hover~.cursor {
        background-color: transparent;
    }
}